body {
    /* background-image: url(bg.svg); */
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;
}


/* main container styles */
#container {
    max-width: 700px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
                -30px 0px 40px rgba(0, 0, 0, 0.1);
}

/* top bar, nav bar styles */
#nav-bar {
    /* background-color: #edd051; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid black;
}

/* style for level selection buttons */
#level {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid gray;
    background-color: #facf0f;
    width: 200px;
    font-size: large;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100%;
    margin: 0px;
}
#level > button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    
    width: 200px;
    font-size: larger;
    font-weight: 700;
    padding: 4.5px 0px;
    border-radius: 8px;
    /* border-bottom: 1px solid black; */
}
.bgColor {
    background-color: #facf0f;
}
.selected {
    background-color: #e0b701;
    /* color: red; */
}


/* score showing area styles */
#score-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #facf0f;
    display: flex;
    width: 200px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#score-container > .score-item-1 {
    /* flex: 10; */
    width: 150px;
    margin: 3px 0px;
    padding: 2px 0px;
    border-bottom: 1px solid black;
    font-size: larger;
}
#score-container > .score-item-2 {
    /* flex: 7; */
    width: 110px;
    text-align: right;
    margin: 5px 0px;
}
#score-container > .score-item-3 {
    /* flex: 3; */
    width: 40px;
    margin: 5px 0px;
}

/* flag image styles */
img {
    width: auto;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    margin-top: 70px;
}
img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* option form styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 10px;
}
.option-item {
    background-color: #C5C5C5;
    padding: 10px 16px;
    border: 1px solid gray;
    width: 200px;
    border-radius: 10px;
    text-align: left;
    /* margin: auto; */
    margin-top: 10px;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.op-red {
    background-color: #fc3c3c;
}
.op-green {
    background-color: #61bd4f;
}
.op-gray {
    background-color: #C5C5C5;
}
.op-gray:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #979797;
}

#container > button {
    background-color: #facf0f;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    display: inline-block;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.7rem;
    font-size: 1.2rem;
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    text-align: center;
}
#container > button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate(0px, -5px);
}

@media only screen and (max-width: 400px) {
    #container {
        margin: 0px;
    }
    img {
        width: 95vw;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0px;
        margin-top: 10px;
    }
    #container > button {
        margin: 2rem;
    }
  }